.trunk/**
.github/**
.vscode/**
.vscode-test/**
docs/**
out/**
node_modules/**
src/**
.node-version
AGENTS.md
.gitignore
.yarnrc
yarn.lock
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
