.trunk/**
.claude/**
.github/**
.vscode/**
.vscode-test/**
docs/**
out/**
node_modules/**
src/**
.node-version
.yarn/**
.yarnrc
.markdownlint.yaml
AGENTS.md
.gitignore
yarn.lock
webpack.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
